



.container{width: 1250px; margin: 0 auto;}
.clearfix::after{content:""; display: block; clear: both;}
.row02{ background: red;}
.left{float: left;}
.right{float: right; }
.inline>li{display: inline-block;}
#header>.row:first-child{background: #373b41;}
#hd_rowleft{background: white;}
#hd_rowleft>li{padding: 8px 35px; font-weight: bold;}
#hd_rowleft>li:last-child{background: #267cbf;}
#hd_rowright>li{font-size: 12px; padding: 10px;}
#hd_rowright>li:last-child{background: gray; padding: 5px 75px; border-radius: 5px; text-indent: -10000px;  }
#header>.row:first-child,#header>.row:first-child a{color: white;}
#header>.row:first-child #hd_rowright>li>a:hover{color: #f88d01;}
#header>.row:first-child #hd_rowleft li:first-child>a{color: #f88d01;}
#logo>a>img{width: 60%; margin-top:20px; }
#menu>li{font-size:18px; padding: 25px; font-weight: bold;position: relative;}
#menu>li:hover{color: #f88d01;}
#menu>li:hover li{color:black;}
#menu>li:hover li:hover{color:#f88d01;}
.sub_menu{display: none; background: white; }
.sub_menu>ul{display: none;}
.sub_menu>ul>li{font-size: 14px; font-weight: normal; line-height: 30px;}


.swiper-slide{cursor: pointer;}
.swiper-slide>img{width: 100%;}


#section>.container{position: relative;}
.contents{width: 410px;height: 262px; display: inline-block;}
.contents>img{width: 100%;}

#content01{background: #f8f8f8; position: absolute; left: 0; top: 0;}
.con_box01_1>li{padding-left: 10px;display: inline-block;border-left: 1px solid #999;margin: 10px 5px 5px 5px;font-size: 17px;}
.con_box01_1>li:first-child{border: none;}
.con_box01_2>li{font-size: 13px; margin-left: 40px; line-height: 30px; list-style: square; }
.con_box01_2>li:first-child{ padding-top:10px;}

#content02{position: absolute; left: 410px; top: 0;}

#content03{position: absolute; left: 820px; top: 0; background: #f8f8f8;}
#content03>ul{overflow: hidden; margin-left: 15px; }
#content03 li{float: left; margin: 2px;padding-left: 10px;}
#content03 p{font-size: 13px; text-align: center;}

#content04{position: absolute; left: 0; top: 262px;}

#content05{position: absolute; left: 410px; top: 262px; overflow: hidden; padding: 25px;}
#content05>p{font-size: 17px; margin-bottom: 15px; font-weight: bold;}
#content05>div{float: left;}
#content05>ul{clear: both; margin-top: 50px; position: relative;}
#content05 .label_year{position: absolute; left: -10000px;}
#year,#month{font-size: 13px; width: 100px; margin-right: 15px; padding-bottom: 10px; border-bottom: 1px solid #999;}
#content05 .label_month{position: absolute; left: -10000px;}
#content05>ul>li{font-size: 13px; line-height: 30px;}
#content05>div>p{font-size: 13px; background: #999; padding: 5px 10px;}
.con5_ul01{position: absolute; left: 0; top: 0;}
.con5_ul02{position: absolute; left: 100px; top: 0; color:#373b41;}

#content06{position: absolute; left: 820px; top: 262px;}

/* @media (max-width:1250px){
    .container{width:100%; margin: 0 auto; padding: 0 10px;}
    .container01{padding-left:0;}
    #menu{display: none;}
    #tgl_menu{width: 50px; height: 50px; background: orange; border-radius: 5px; margin-top: 15px; padding-top: 5px;}
    #tgl_menu>li{width: 40px; height: 5px; background: white; margin-left: 5px; margin-top: 7px;}

}



@media (max-width:768px){
    .row01{display: none;}
} */



